.makeresume-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* height: 870px; */
}

.makeresume-container h2 {
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color: #3498db;
    font-weight: bold;
    /* text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 5px; */
    text-decoration-color: #ced4da;
    ;
    padding: 10px 0 10px 0;
    text-shadow: 2px 3px 0px rgb(0 0 0 / 17%);
}

.makeresume-container .makeresume-wrapper .resume-field-part {
    width: 45%;
}

.makeresume-container .resume-field-part .form label {
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 11px;
    font-size: 18px;
    font-weight: 500;
}

.makeresume-wrapper .resume-field-part .firstname-lastname-part input {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    padding: 20px 0 23px 15px;
}

.makeresume-wrapper .resume-field-part .email-phone-part input {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    padding: 20px 0 23px 15px;
}

.makeresume-wrapper .resume-field-part .employee input {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    padding: 20px 0 23px 15px;
}


.makeresume-wrapper .resume-field-part .designation input {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    padding: 20px 0 23px 15px;
}

.makeresume-wrapper .resume-field-part .add-summary input {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    padding: 22px 0 21px 15px;
}

.makeresume-container .makeresume-wrapper .sample1 ul {
    list-style-position: inside;
    margin: 5px 0 0 5px;
    color: #a9b7c5;
    list-style: none;
}

.makeresume-container .makeresume-wrapper .sample1 ul li {
    font-size: 14px;
}

.makeresume-container .makeresume-wrapper .sample1 ul li:hover {
    cursor: pointer;
}

.resume-field-part form .add-summary .summary-parts .summary {
    border: 1px solid #ced4da;
    margin-bottom: 0;
    width: 100%;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.resume-field-part .add-summary .summary-parts .summary:focus {
    outline-offset: none;
    outline: none;
}

.resume-field-part .add-summary .summary-parts .summary::placeholder {
    padding: 13px 0 0 3px;
}

.resume-field-part .add-skill .skills {
    border: 1px solid #ced4da;
    width: 100%;
    padding-left: 15px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    padding: 22px 0 21px 15px;
}

.resume-field-part .add-skill .skills::placeholder {
    padding: 13px 0 0 3px;
}

.resume-field-part .add-skill .skills:focus {
    outline-offset: none;
    outline: none;
}

.resume-field-part .add-projects .entry-project-part .project-heading input {
    min-width: 215px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 0 10px 16px;
}

.resume-field-part .add-projects .entry-project-part .project-heading input:focus {
    outline-offset: none;
    outline: none;
}

.resume-field-part .add-projects .entry-project-part .project-desc textarea {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 30px;
    padding: 10px 0 0px 15px;
    width: 100%;
    min-height: 285px;
}

.resume-field-part .add-projects {
    border: 1px solid #ced4da;
    padding: 0 10px 10px 10px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.resume-field-part .add-projects .entry-project-part .project-desc input:focus {
    outline: none;
}

.resume-field-part .add-projects label {
    padding-top: 10px !important;
}

.add-projects .btn.project-btn {
    background-color: #3498db;
    color: #fff;
    margin-top: 27px;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 20px 6px 20px;
}


/* ============================================
resume build (right ) part
=============================================== */
.makeresume-container .resume-build-container {
    width: 45%;
}

.resume-build-container .resume-build-part .show-cv-wrapper h5 {
    font-size: 16px;
    font-weight: 500;
}

.resume-build-container .resume-build-part .show-cv-wrapper h5 span {
    font-size: 18px;
    font-weight: 700;
}

.resume-build-container .resume-build-part .summary-part h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.resume-build-container .resume-build-part .show-skill-heading h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.resume-build-container .resume-build-part .show-project h5 {
    font-size: 18px;
    font-weight: 700;
}

.makeresume-container .resume-build-container .resume-build-part {
    /* min-height: 842px; */
    width: 100%;
    height: 100%;
    background-image: url('../img/Parangat_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 0 auto;
}
.makeresume-container .resume-build-container .resume-build-part:active{
    width: 100%;
}
.makeresume-container .resume-build-container .resume-build-part .view-pg:active{
    width: 83%;
}

.resume-build-part .show-cv-wrapper .first-last-name {
    display: flex;
    padding-bottom: 20px;
}

.resume-build-part .show-cv-wrapper .email-phone-past {
    display: flex;
    padding-bottom: 20px;
}

.resume-build-part .show-cv-wrapper .first-last-name .first-name {
    width: 50%;
}

.resume-build-part .show-cv-wrapper .email-phone-past .email-address {
    width: 50%;
}

.resume-build-container .show-cv-wrapper {
    padding-top: 165px;
    padding-left: 10px;
}

.resume-build-container .show-cv-wrapper .summary-part p {
    margin: 0;
    min-height: 100px;
}
.resume-build-container .show-cv-wrapper .show-skill-heading p {
    margin: 0;
    min-height: 120px;
}

.resume-build-container .summary-part {
    padding: 18px 10px 0px 0px;
}

.resume-build-container .summary-part ul {
    list-style-position: inside;
}

.resume-build-container .summary-part ul li button {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 18px;
}

.resume-build-container .summary-part ul li button:focus {
    outline: none;
}

.resume-build-container .projects-part {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    margin-bottom: 100px;
}

.resume-build-container .projects-part .view-btn {
    padding: 7px 20px 7px 20px;
    border: none;
    display: table;
    font-size: 16px;
    font-weight: 500;
    background-color: #3498db;
    color: #ffffff;
    margin-right: 3%;
    margin-bottom: 30px;
}

.resume-build-container .projects-part .submit-btn {
    padding: 7px 20px 7px 20px;
    border: none;
    display: table;
    font-size: 16px;
    font-weight: 500;
    background-color: #3498db;
    color: #ffffff;
    margin-left: 3%;
    margin-bottom: 30px;
}

.resume-build-container .resume-build-part .summary-part ul {
    margin-bottom: 0;
}

.show-skill-heading {
    padding: 10px 10px 0px 0px;
}

.show-skill-part ul {
    padding-left: 20px;
}

.projects-part button.viewCrossImg {
    border-radius: 4px;
    padding: 7px 25px 7px 25px !important;
    border: none;
    display: table;
    font-size: 16px;
    font-weight: 500;
    background-color: #3498db;
    color: #ffffff;
    margin-bottom: 30px;
}

.projects-part button.viewCrossImg:focus {
    outline: none;
}

.makeresume-container .resume-build-container .show-project-desc {
    margin-top: -8px;
}
.makeresume-wrapper .resume-build-container  .show-skill-part p {
    padding-bottom: 22px;
}
.makeresume-wrapper .resume-build-container .show-project-title h6{
    padding-bottom: 4px;
}

/* ===========================================
  media query part
============================================== */


@media (min-width: 1024px) {
    .makeresume-container .makeresume-wrapper .resume-field-part {
        width: 40%;
    }
    .makeresume-container .resume-build-container {
        width: 53%;
    }
}


@media (max-width: 1023px) {
    .makeresume-wrapper {
        flex-direction: column;
        justify-content: unset;
    }

    .makeresume-container .makeresume-wrapper .resume-field-part {
        width: 95%;
        margin: 0 auto;
    }

    .resume-build-container .show-cv-wrapper {
        padding-top: 0px;
    }

    .makeresume-container .resume-build-container {
        width: 100%;
        margin: 50px auto 0px;
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .makeresume-container .resume-field-part .form label {
        font-size: 14px!important;
    }
}