.login-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.login-container .login-wrapper {
    width: 410px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    /* box-shadow: 0px 0px 34px #9AA7BD50; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-container .login-wrapper h1 {
    text-align: center;
    color: #59617B;
    margin: 0;
    font-size: 34px;
    font-weight: bolder;
    padding: 80px 0 100px 0;
}

.login-container .login-wrapper .login-form form {
    margin: 0 auto;
    display: table;
    width: 78%;
}

.login-form-field {
    display: flex;
    flex-direction: column;
}

.login-container .login-form .login-form-field .username {
    display: flex;
    padding-bottom: 30px;
    position: relative;
}

.login-container .login-form .login-form-field .username svg {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 22px;
    color: #59617B;
}

.login-container .login-form .login-form-field input[type="text"] {
    border: none;
    border-bottom: 1px solid #9EC1D6;
    width: 100%;
    font-size: 14px;
    padding: 10px 0 10px 40px;
    font-weight: 500;
}

.login-container .login-form .login-form-field input[type="text"]:focus {
    outline: none;
}

.login-container .login-form .login-form-field .password {
    display: flex;
    position: relative;
}

.login-container .login-form .login-form-field .password svg {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 22px;
    color: #59617B;
}

.login-container .login-wrapper .login-submit-btn {
    display: flex;
    flex-direction: column;
}

.login-container .login-form .login-form-field input[type="password"] {
    border: none;
    border-bottom: 1px solid #9EC1D6;
    width: 100%;
    font-size: 14px;
    padding: 10px 0 10px 40px;
    font-weight: 500;
}

.login-container .login-form .login-form-field input[type="password"]:focus {
    outline: none;
}

.login-container .login-wrapper form .login-submit-btn .btn1 {
    width: 40%;
    border: none;
    background-color: #0088CC;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 10px 0 10px 0;
    border-radius: 25px;
    margin: 30px auto 20px;
}

.login-container .login-wrapper form .login-submit-btn .btn2 {
    background-color: #FF5F5F;
    width: 70%;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 12px 0 8px 0;
    border-radius: 25px;
    margin: 0 auto;
}

.login-container .login-wrapper form .login-submit-btn .btn2:focus {
    outline: none;
}
.login-submit-btn button.btn1:focus{
    outline: none;
}

span.guest-user {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding-top: 25px;
    color: #59617B;
}

/* ===========================================
  media query part
============================================== */
@media (min-width: 576px) and (max-width:768px) {
    .login-wrapper {
        width: 370px !important;
        height: 520px !important;
    }

    .login-container .login-wrapper h1 {
        padding: 60px 0 80px 0;
    }

    .login-container .login-wrapper h1 {
        font-size: 32px !important;
    }
    span.guest-user {
        padding-top: 15px!important;
    }

}

@media (min-width: 421px) and (max-width:575px) {
    .login-container .login-wrapper {
        width: 350px !important;
        height: 510px !important;
    }

    .login-container .login-wrapper h1 {
        padding: 60px 0 80px 0;
    }

    .login-container .login-wrapper h1 {
        font-size: 30px !important;
    }
    span.guest-user {
        padding-top: 10px!important;
    }
}

@media (max-width: 420px) {
    .login-container .login-wrapper {
        width: 280px !important;
        height: 420px !important;
    }

    .login-container .login-wrapper h1 {
        padding: 35px 0 50px 0;
    }

    .login-container .login-wrapper h1 {
        font-size: 26px !important;
    }

    .login-container .login-wrapper form .login-submit-btn .btn1 {
        font-size: 12px;
        padding: 9px 0 8px 0;
        border-radius: 25px;
        margin: 20px auto 18px;
    }

    .login-container .login-wrapper form .login-submit-btn .btn2 {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        padding: 10px 0 7px 0;
        border-radius: 25px;
        margin: 0 auto;
    }
    span.guest-user {
        padding-top: 10px!important;
    }
}