.table-container{
    width: 100%;
}
.table-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
.table-heading{
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    padding-right: 6px;
}
.table-heading button.ant-btn.ant-btn-default.ant-dropdown-trigger {
    border: none;
}
.table-heading button.ant-btn.ant-btn-default.ant-dropdown-trigger:active{
    outline: none;
    outline-offset: none;
}
.table-data{
    /* box-shadow: 0px 0px 34px #9aa7bd50; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 40px;
}
.table-container .table-wrapper .table-heading h1{
    margin: 0;
    font-size: 24px;
    padding-top: 4px;
}
.table-container .table-wrapper .table-heading svg{
    font-size: 30px;
    background-color: #0088CC;
    color: #ffffff;
    padding: 7px;
    border-radius: 50%;
}
.table-container .table-wrapper .table-data .view-btn{
    border: none;
    font-weight: bold;
    background-color: #ff8f5f;
    color: #fff;
    padding: 4px 15px 4px 15px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-container .table-wrapper .table-data .view-btn:focus{
    outline: none;
}
.table-container .table-wrapper .table-data .download-btn{
    border: none;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    padding: 4px 15px 4px 15px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-container .table-wrapper .table-data .download-btn:focus{
    outline: none;
}