.submitted-cv-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.submitted-cv-container .submitted-cv-wrapper {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.submitted-cv-container .submitted-cv h1 {
    font-size: 36px;
    font-weight: 300;
}
.submitted-cv-container .btn-submit-another {
    background-color: #1e3799;
    border: none;
    padding: 5px 15px 5px 15px;
    color: #ffffff;
}
.submitted-cv-container .btn-submit-another:focus{
    outline:none;
}